@import "../../variables";

.card {
  padding: 30px;
  border: 2px solid $global-color-blue;
  border-radius: 18px;
  box-shadow: 0px 0px 20px -10px $global-color-blue;
  background-color: #ffffff;

  .image-wrapper {
    position: relative;
    margin-bottom: 30px;

    .card-image {
      position: relative;
      z-index: 11;
      display: block;
      height: 250px;
      width: auto;
      max-width: 100%;
      margin: 0 auto;
    }
  }

  .image-wrapper::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    height: 80px;
    z-index: 1;
    border-radius: 100%;
    background: #ffffff;
    box-shadow: 0 0 10px 2px #eeeeee;
  }

  .card-body {
    .card-title {
      text-align: center;
    }
  }
}
